<body class="hero-body">
  <!-- Hero Section -->
  <section class="hero-content">
    <div class="container fade-in-right">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
            <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
              <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
                Dive into a world where words dance and stories unfold
              </h1>
              <p class="lead">
                From thought-provoking essays to captivating narratives, we
                curate a tapestry of words that resonate with passion,
                curiosity, and creativity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="img/gb_-25.gif" alt="" width="430" />
        </div>
      </div>
    </div>
  </section>
  <!-- features -->

  <section
    class="section-sm bg-light"
    id="features"
    style="font-family: Playfair Display, serif"
  >
    <div class="container fade-in-right">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="mt-4 p-4">
            <img
              src="img/gb_-488-400x495.jpg"
              class="img-fluid rounded shadow-lg"
              alt="Feature Image"
            />
          </div>
        </div>

        <div class="col-lg-6 offset-lg-1">
          <div class="mt-4">
            <h2 class="fw-bold">Empowering Your Blogging Experience</h2>
            <hr class="featurette-divider" />

            <div class="mt-4 pt-3">
              <div class="d-flex align-items-center">
                <div class="features-icon me-4">
                  <img
                    src="img/notes(1).png"
                    class="img-fluid"
                    alt="Writing Icon"
                  />
                </div>
                <div>
                  <h5 class="fw-bold">Creative Writing</h5>
                  <p class="text-muted mt-2">
                    Unleash your creativity and express yourself through
                    compelling blog posts and articles.
                  </p>
                </div>
              </div>

              <div class="d-flex mt-4">
                <div class="features-icon me-4">
                  <img
                    src="img/technology.png"
                    class="img-fluid"
                    alt="Technology Icon"
                  />
                </div>
                <div>
                  <h5 class="fw-bold">Cutting-Edge Technology</h5>
                  <p class="text-muted mt-2">
                    Explore the latest trends in technology and discover
                    innovative tools to enhance your blogging journey.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mt-5">
        <div class="col-lg-6">
          <div class="mt-4">
            <h2 class="fw-bold">Expand Your Reach, Inspire Your Audience</h2>
            <hr class="featurette-divider" style="margin: 25px" />
            <p class="text-muted mt-4">
              Connect with readers around the globe, share your insights, and
              inspire meaningful conversations.
            </p>

            <div class="mt-4">
              <ol class="list-unstyled">
                <li class="mb-2">
                  <i class="mdi mdi-check-bold text-pink me-2"></i>Engage with
                  your audience through thought-provoking content.
                </li>
                <li class="mb-2">
                  <i class="mdi mdi-check-bold text-pink me-2"></i>Utilize
                  advanced analytics to understand your readers' preferences.
                </li>
                <li class="mb-2">
                  <i class="mdi mdi-check-bold text-pink me-2"></i>Join a
                  vibrant community of writers and enthusiasts.
                </li>
              </ol>
            </div>

            <div class="mt-4">
              <a href="#" class="read-more-link" style="margin-top: 10px"
                >Learn More</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <div class="mt-4 p-4">
            <img
              src="img/gb_-429-400x421.jpg"
              class="img-fluid rounded shadow-lg"
              alt="Feature Image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- latest posts posts -->

  <section id="blogs" class="page-section">
    <div class="mm2">
      <div class="text-center"></div>
      <div
        class="container"
        style="
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        <hr class="featurette-divider" />
        <div class="row">
          <% post.slice(0, 3).forEach(post => { %>
          <div class="col-md-6 col-lg-4 fade-in-right">
            <div class="tablet-lg-top-30">
              <div class="card my-3">
                <img
                  class="img-fluid"
                  src="<%= post.ImageUrl %>"
                  alt="Post Image"
                />

                <div class="p-4">
                  <h4 class="pb-2"><%= post.title %></h4>
                  <div
                    class="d-flex small pb-3 align-content-center text-body-tertiary"
                  >
                    <div class="pe-3 d-flex align-items-center">
                      <i class="lni lni-bookmark pe-1"></i>
                      <span><%= post.Category %></span>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="lni lni-calendar pe-1"></i>
                      <% const date = new Date(post.createdAt); %>
                      <span
                        ><%= date.toLocaleString('en-US', { month: 'short', day:
                        'numeric', year: 'numeric' }) %></span
                      >
                    </div>
                  </div>
                  <p class="pb-3 text-black-50"><%= post.description %></p>
                  <a href="/postDetails/<%= post._id %>" class="read-more-link"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>

  <!-- Subscribe  -->
  <!--CDN Material Icon  -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css"
    integrity="sha512-vIgFb4o1CL8iMGoIF7cYiEVFrel13k/BkTGvs0hGfVnlbV6XjAA0M0oEHdWqGdAVRTDID3vIZPOHmKdrMAUChA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center fade-in-right">
        <div class="col-lg-9">
          <div class="text-center cta-box">
            <h2 class="">Start Sharing Your Stories Today</h2>
            <div class="cta-caption mt-3">
              <p class="text-muted mx-auto fs-6 lh-lg">
                Unleash your creativity and connect with readers worldwide. Join
                our platform and begin your blogging journey now.
              </p>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="position-relative cta-search mt-5">
            <div class="cta-icon">
              <i class="mdi mdi-send-outline"></i>
            </div>
            <input
              type="email"
              class="form-control mx-auto f-18"
              placeholder="Enter your email address..."
            />
            <button
              type="submit"
              class="btn btn-success text-uppercase fw-bold"
            >
              Get Started<i class="mdi mdi-chevron-right ms-2"></i>
            </button>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </section>
</body>
