<style>
  /* CSS styles */
  body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  main {
    padding: 50px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%; /* Set a fixed height for all cards */
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dee2e6;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    color: #6c757d;
    margin-bottom: 20px;
  }

  /* Links */
  a {
    color: rgb(109, 88, 88); /* Set the color of all links to black */
  }

  a:hover {
    color: #333; /* Darken the color on hover */
  }
  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* Add Post Button */
  .add-post-btn {
    font-size: 24px;
    color: rgb(109, 88, 88);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .add-post-btn:hover {
    color: #333;
  }
</style>

<body class="hero-body">
  <main>
    <div class="container">
      <div class="header-posts">
        <div class="header-item-1">
          <h1
            style="
              font-family: Kalnia, serif;
              font-family: Playfair Display, serif;
              margin-bottom: 50px;
              color: rgb(0, 0, 0);
              font-weight: bold;
              font-family: Nunito;
            "
            class="fade-in-right"
          >
            Discover More Stories
          </h1>
        </div>
        <div class="header-item-2">
          <a href="/addPost" class="add-post-btn">+ Add post</a>
        </div>
        <div class="header-item-3"><hr class="featurette-divider" /></div>
      </div>
      <div class="row">
        <% posts.forEach(post => { %>
        <div class="col-md-6 col-lg-4 mb-4 fade-in-right">
          <div class="card">
            <img
              class="card-img-top"
              src="<%= post.imageUrl %>"
              alt="<%= post.title %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.body.substring(0, 100) %>...</p>
              <a href="/postDetails/<%= post._id %>" class="read-more-link"
                >Read More</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </main>
</body>
